In [23]:
import os
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
os.chdir('/cluster/home/jjaenes/af-protein-universe')
!pwd

/cluster/project/beltrao/jjaenes/22.07_all_vs_all

In [14]:
!date
fp_ = '/cluster/work/beltrao/jjaenes/22.07.08_af_protein_universe/afswiss_proteom_ava.accessions_with_metadata-22.07.08.tsv.gz'
df_ = pd.read_csv('results_ava.prev/afswiss_proteom_ava.log10_evalue.communities.tsv.gz', sep='\t', index_col=0)\
.merge(pd.read_csv('results_af2/af2_bulk_stats.tsv', sep='\t'), on='accession')\
.merge(pd.read_csv(fp_, sep='\t'))
!date
df_.head()

Wed Jul 13 17:07:24 CEST 2022
Wed Jul 13 17:07:34 CEST 2022

,accession,plm_community_id,plp_commynity_id,af2_model_id,pdb_gz,af2_n_resid,af2_mean_pLDDT,gene_name_primary,organism_name_scientific,organism_dbReference_NCBI_Taxonomy,dbReference_EC_Id,dbReference_PDB_Id,dbReference_Pfam_Id,dbReference_Pfam_entry_name,dbReference_InterPro_Id,dbReference_InterPro_entry_name,dbReference_PROSITE_Id,dbReference_PROSITE_entry_name,dbReference_SUPFAM_Id,dbReference_SUPFAM_entry_name
0,A0A009IHW8,0,93871,A0A009IHW8-F1,results_af2/af2/A0/A0/09/A0A009IHW8-F1.pdb.gz,269,84.96,NaN,Acinetobacter baumannii (strain 1295743),1310613,3.2.2.6,NaN,PF13676,TIR_2,IPR035897,Toll_tir_struct_dom_sf,PS50104,TIR,SSF52200,SSF52200
1,A0A021WW64,1,1,A0A021WW64-F1,results_af2/af2/A0/A0/21/A0A021WW64-F1.pdb.gz,274,55.63,FBgn0058460,Drosophila melanogaster,7227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A0A023FBW4,2,62363,A0A023FBW4-F1,results_af2/af2/A0/A0/23/A0A023FBW4-F1.pdb.gz,97,65.78,NaN,Amblyomma cajennense,34607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A0A023FBW7,3,4,A0A023FBW7-F1,results_af2/af2/A0/A0/23/A0A023FBW7-F1.pdb.gz,118,80.46,NaN,Amblyomma cajennense,34607,NaN,NaN,PF19429,EVA_Class_A,IPR045797,EVA_Class_A,NaN,NaN,NaN,NaN
4,A0A023FDY8,3,4,A0A023FDY8-F1,results_af2/af2/A0/A0/23/A0A023FDY8-F1.pdb.gz,118,79.47,NaN,Amblyomma cajennense,34607,NaN,NaN,PF19429,EVA_Class_A,IPR045797,EVA_Class_A,NaN,NaN,NaN,NaN

In [29]:
!date
df_null_ = df_.groupby('plm_community_id').agg(
    community_size = ('accession', len),
    mean_pLDDT = ('af2_mean_pLDDT', np.mean),
    null_Pfam = ('dbReference_Pfam_Id', lambda a: a.isnull().all()),
    null_InterPro = ('dbReference_InterPro_Id', lambda a: a.isnull().all()),
    null_PROSITE = ('dbReference_PROSITE_Id', lambda a: a.isnull().all()),
    null_SUPFAM = ('dbReference_SUPFAM_Id', lambda a: a.isnull().all()),
)
!date
df_null_.head()

Wed Jul 13 17:15:52 CEST 2022
Wed Jul 13 17:16:18 CEST 2022

,community_size,mean_pLDDT,null_Pfam,null_InterPro,null_PROSITE,null_SUPFAM
plm_community_id,,,,,,
0,12378,76.653059,False,False,False,False
1,8725,68.868740,False,False,False,False
2,1535,80.852306,False,False,False,False
3,921,78.923246,False,False,False,False
4,20034,76.777416,False,False,False,False

In [85]:
df_null_.query('mean_pLDDT > 70 & 5 < community_size & community_size < 100 & null_Pfam & null_InterPro & null_PROSITE & null_SUPFAM')\
.sort_values('mean_pLDDT', ascending=False)

45

In [87]:
df_.query('plm_community_id == 4528')

,accession,plm_community_id,plp_commynity_id,af2_model_id,pdb_gz,af2_n_resid,af2_mean_pLDDT,gene_name_primary,organism_name_scientific,organism_dbReference_NCBI_Taxonomy,dbReference_EC_Id,dbReference_PDB_Id,dbReference_Pfam_Id,dbReference_Pfam_entry_name,dbReference_InterPro_Id,dbReference_InterPro_entry_name,dbReference_PROSITE_Id,dbReference_PROSITE_entry_name,dbReference_SUPFAM_Id,dbReference_SUPFAM_entry_name
39491,A0A0H3GL48,4528,687176,A0A0H3GL48-F1,results_af2/af2/A0/A0/H3/A0A0H3GL48-F1.pdb.gz,117,70.26,NaN,Klebsiella pneumoniae subsp. pneumoniae (strai...,1125630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683295,Q31TR2,4528,687176,Q31TR2-F1,results_af2/af2/Q3/1T/R2/Q31TR2-F1.pdb.gz,109,77.03,yjdP,Shigella boydii serotype 4 (strain Sb227),300268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684691,Q329H0,4528,687176,Q329H0-F1,results_af2/af2/Q3/29/H0/Q329H0-F1.pdb.gz,109,77.02,yjdP,Shigella dysenteriae serotype 1 (strain Sd197),300267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
705359,Q3YUQ0,4528,687176,Q3YUQ0-F1,results_af2/af2/Q3/YU/Q0/Q3YUQ0-F1.pdb.gz,109,77.70,yjdP,Shigella sonnei (strain Ss046),300269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803212,Q6BEX5,4528,687176,Q6BEX5-F1,results_af2/af2/Q6/BE/X5/Q6BEX5-F1.pdb.gz,109,77.13,yjdP,Escherichia coli (strain K12),83333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
869960,Q8FAW3,4528,687176,Q8FAW3-F1,results_af2/af2/Q8/FA/W3/Q8FAW3-F1.pdb.gz,109,76.30,yjdP,Escherichia coli O6:H1 (strain CFT073 / ATCC 7...,199310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895100,Q8X3J8,4528,687176,Q8X3J8-F1,results_af2/af2/Q8/X3/J8/Q8X3J8-F1.pdb.gz,109,76.26,yjdP,Escherichia coli O157:H7,83334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df_['plm_community_id'].max()

49566

In [89]:
len(df_null_.query('5 < community_size & community_size < 100'))

593